.container {
  margin: 96px 0px 32px 0px;
}

.banner_head::after,
.banner_head::before,
.banner_head_right::after,
.banner_head_right::before {
  display: none;
}

.banner_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner_head_left {
  width: calc(100% - 200px);
}

.branch_name {
  font-size: 28px;
  margin-bottom: 10px;
}

.banner_address {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.banner_head_right {
  display: flex;
}


.banner_image_cnt {
  margin-top: 24px;
  width: 100%;
  padding-bottom: 45%;
  background-color: var(--grey);
  position: relative;
  border-radius: 18px;
}

.banner_image {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.tab_cnt::after,
.tab_cnt::before {
  display: none;
}

.tab_cnt {
  margin: 32px 0px;
  background-color: var(--grey-0);
  display: flex;
  padding: 9px;
  border-radius: var(--normal);
}

.tab_item {
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: var(--grey-4);
  transition: var(--trans);
}

.villa_list::after,
.villa_list::before {
  display: none;
}

.villa_list {
  grid-gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.villa_bot {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.villa_bot button {
  width: 40px;
  height: 40px;
  padding: 0px;
  min-width: unset;
  border-radius: 100%;
}

.villa_bot button span {
  color: var(--white);
}

.desc_cnt strong {
  font-size: 18px;
  font-weight: 600;
}

.desc_cnt p {
  font-size: 14px;
  line-height: 20px;
}

.desc_cnt figure {
  display: flex;
  justify-content: center;
}

.desc_cnt img {
  width: 70%;
  height: 450px;
  margin: 18px auto;
  object-fit: cover;
}

@media only screen and (max-width: 992px) and (min-width: 767px) {
  .villa_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .container {
    margin: 54px 0px;
  }

  .banner_cnt {
    display: flex;
    flex-direction: column-reverse;
  }

  .banner_image_cnt {
    margin-top: 0px;
    margin-left: -12px;
    width: 100vw;
    padding-bottom: 75%;
    border-radius: 0px;
  }

  .banner_image {
    border-radius: 0px;
  }

  .banner_head {
    margin-top: 12px;
    flex-direction: column;
    align-items: unset;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--grey-0);
  }

  .banner_head_left,
  .banner_head_right {
    width: 100%;
  }

  .branch_name {
    font-size: 20px;
    font-weight: 500;
  }

  .banner_head_right {
    justify-content: flex-end;
    margin-top: 8px;
  }

  .tab_cnt {
    margin: 24px 0px;
  }

  .villa_list {
    grid-template-columns: repeat(1, 1fr);
  }
  .desc_cnt img {
    width: 100%;
    height: unset;
    aspect-ratio: 16 / 9;
    margin: 18px auto;
    object-fit: cover;
    border-radius: var(--normal);
  }
}