.wrapper {
  width: 100%;
  background-color: var(--primary);
}

.container::after,
.container::before,
.pm_method_list::after,
.pm_method_list::before,
.socials::after,
.socials::before {
  display: none;
}

.container {
  padding: 64px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  margin-bottom: 32px;
}

.left_bg {
  margin-bottom: 30px;
}

.left_slt {
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: oblique;
}

.socials {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.social_item {
  display: block;
  background-color: rgba(0, 0, 0, 0.113);
  padding: 12px;
  border-radius: 100%;
  margin-right: 16px;
}

.social_item svg {
  color: var(--white) !important;
  width: 24px;
  height: 24px;
}


.link_item {
  margin-bottom: 16px;
}

.link_item a {
  display: block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(--white);
}

.right_link svg {
  margin: 0px 10px -1px 0px;
}

.pm_method_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 48px;
}

.pm_method_item {
  padding: 8px;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  border-radius: var(--normal);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
  }

  .title {
    text-align: center;
  }

  .left,
  .center,
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link_item a {
    text-align: center;
  }
}