.container {
  padding: 32px 24px;
  border-radius: var(--large);
  background-color: var(--white);
  width: 40%;
}

.title {
  color: var(--grey-4);
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.form_row {
  width: 100%;
  padding: 12px 0;
  position: relative;
}

.form_row_error {
  position: absolute;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  color: var(--red);
  bottom: -4px;
}

.form_btn {
  margin-top: 28px;
}

.form_btn button {
  width: 100%;
}
@media only screen and (max-width: 992px) and (min-width: 767px) {}

@media only screen and (max-width: 767px) {
  .container{
    width: calc(100vw - 24px);
  }
}